@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>

<div class="row" id="partialViewDiv">
</div>


@section scripts
{

    <script language="javascript">
        $(document).ready(function () {
            window.setInterval(function () {
                $.ajax({
                    url: "/Home/GetDatabases"
                }).done(function (data) {
                    $("#partialViewDiv").html(data);
                });
            }, 1000);
        });
    </script>
}
